{extend name="admin/base" /} 
{block name="resources"/}
<style>
.modal-infp-style{
width:90%;
	margin:10px auto;
}
.modal-infp-style table{
	width:100%;
}
.modal-infp-style table tr td{
	border: 1px solid #e6e6e6;
    padding: 10px;
}
</style>
{/block}
{block name="right_tab"} 
<li><a class="nscs-table-handle_green" href="ADMIN_MAIN/promotion/addgroup"><i class="fa fa-plus-circle"></i>&nbsp;添加团购</a></li>
{/block}
{block name="main"}
<div class="mod-table">
	<div class="mod-table-head">
		<table class="mytable">
			<tr>
				<th width="10%" style="text-align: left;">
					<a class="btn btn-small fun-a" href="javascript:batchDelete()">批量删除</a>
				</th>
				<th width="10%"><input type="text" id = 'search_text' placeholder="请输入活动名称" /><input type="button" onclick="searchData()" value="搜索" /></th>
			</tr>
		</table>
		<div class="con style0list">
			<table>
				<thead>
					<tr align="center">
						<th><label><input type="checkbox" onclick="CheckAll(this)"></label></th>
						<th class="tal">活动名称</th>
						<th class="tal">有效时间</th>
						<th class="tal">活动状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>
{/block}
{block name="script"}

<script type="text/javascript">
function LoadingInfo(page_index) {
	var search_text = $("#search_text").val();
	var status = {$status};
	$.ajax({
		type : "post",
		url : "ADMIN_MAIN/promotion/supergrouplist",
		data : {
			"page_index" : page_index, "page_size" : $("#showNumber").val(), "search_text" : search_text,"status" : status
		},
		success : function(data) {
			var html = '';
			if (data["data"].length > 0) {
				for (var i = 0; i < data["data"].length; i++) {
                    var status = parseInt(data['data'][i]['status']) ;
                    switch(status){
                        case 0:
                            var status_name = '未发布';
                            break;
                        case 1:
                            var status_name = '申请上架中';
                            break;
                        case 2:
                            var status_name = '上架成功';
                            break;
                        case 3:
                            var status_name = '上架失败';
                            break;
                        case 4:
                            var status_name = '展示中';
                            break;
                        case 5:
                            var status_name = '已开始';
                            break;

                        case 6:
                            var status_name = '已结束';
                            break;

                        case 7:
                            var status_name = '已结束';
                            break;
                    }
					html += '<tr align="center">';
					html += '<td><div class="cell">';
					if(data['data'][i]['status'] == 1){
						html += '<label ><input name="sub_use" type="checkbox" value="'+data["data"][i]["discount_id"]+'" disabled>';
					}else{
						html += '<label ><input name="sub_no_use" type="checkbox"  value="'+data["data"][i]["discount_id"]+'">';
					}
					html += '<td class="tal">' + data["data"][i]["name"] + '</td>';;
					html += '<td class="tal">' + data["data"][i]["start_time"] + ' 至 ' + data["data"][i]["expire_time"] + '</td>';
					html += '<td class="tal">'+ status_name +'</td>';

                    if(status == 0){
                        html += '<td><a href="ADMIN_MAIN/promotion/updategroup?id=' + data["data"][i]["group_order_id"] + '">编辑</a>&nbsp;';
                        html += '<a href="javascript:void(0);"onclick="del('+data["data"][i]["group_order_id"]+')">删除</a>&nbsp;';
                        html += '<a href="javascript:void(0);"onclick="submit('+data["data"][i]["group_order_id"]+')">提交申请</a></td>';
                    }else if(status == 1){
                        html += '<td><a href="javascript:void(0);"onclick="recall('+data["data"][i]["group_order_id"]+')">撤回申请</a>&nbsp;';
                        html += '<a href="javascript:void(0);"onclick="showInfo('+data["data"][i]["group_order_id"]+')">详情</a></td>';
                    }else if(status == 2){
                        html += '<td><a href="javascript:void(0);"onclick="del('+data["data"][i]["group_order_id"]+')">删除</a>&nbsp;';
                        html += '<a href="javascript:void(0);"onclick="pulloff('+data["data"][i]["group_order_id"]+')">下架</a></td>';
                    }else if(status== 3){
                        html += '<td><a href="ADMIN_MAIN/promotion/updategroup?id=' + data["data"][i]["group_order_id"] + '">编辑</a>&nbsp;';
                        html += '<a href="javascript:void(0);"onclick="del('+data["data"][i]["group_order_id"]+')">删除</a></td>';
                    }

                    else if(status == 4 || status == 5 ||status == 6 || status == 7){
                        html += '<td><a href="javascript:void(0);"onclick="showInfo('+data["data"][i]["gift_id"]+')">详情</a></td> ';
                    }


					html += '</tr>';
				}
			} else {
				html += '<tr align="center"><th colspan="5">暂无符合条件的数据记录</th></tr>';
			}
			$(".style0list tbody").html(html);
			initPageData(data["page_count"],data['data'].length,data['total_count']);
			$("#pageNumber").html(pagenumShow(jumpNumber,$("#page_count").val(),{$pageshow}));
		}
	});
}

function del(id){
    $( "#dialog" ).dialog({
        buttons: {
            "确定,#e57373": function() {
                $(this).dialog('close');
                $.ajax({
                    type : "post",
                    url : "ADMIN_MAIN/Promotion/deletegroup",
                    async : true,
                    data : {
                        "id" : id
                    },
                    success : function(data) {
                        if(data["code"] > 0 ){
                            showMessage('success', "操作成功",'ADMIN_MAIN/Promotion/supergrouplist');
                        }else{
                            showMessage('error', "操作失败");
                        }
                    }
                })
            },
            "取消": function() {
                $(this).dialog('close');
            }

        },
        contentText:"你确定删除抽奖吗？",
        title:"消息提醒"
    });
}

function pulloff(id){
    $( "#dialog" ).dialog({
        buttons: {
            "确定,#e57373": function() {
                $(this).dialog('close');
                $.ajax({
                    type : "post",
                    url : "ADMIN_MAIN/Promotion/closegroup",
                    async : true,
                    data : {
                        "id" : id
                    },
                    success : function(data) {
                        if(data["code"] > 0 ){
                            showMessage('success', "操作成功",'ADMIN_MAIN/Promotion/supergrouplist');
                        }else{
                            showMessage('error', "操作失败");
                        }
                    }
                })
            },
            "取消": function() {
                $(this).dialog('close');
            }

        },
        contentText:"你确定下架当前抽奖吗？",
        title:"消息提醒"
    });
}


function showInfo(index){


    var lottery = giftlist[index];

    if(lottery)
    {
        $("#discountInfo").modal("show");
        $("#discount_name").text(lottery["gift_name"]);
        $("#time").text(lottery['start_time']+' 至 '+lottery['end_time']);


        $("#people").text(lottery["people"]);
        $("#parms").text(lottery["stage_format"]);

    }
    else
    {
        showMessage('error', "未找到抽奖信息");
    }

}

function submit(id){
    $.ajax({
        type:"post",
        url : "ADMIN_MAIN/promotion/submitgroup",
        data : {
            "id" : id.toString()
        },
        dataType : "json",
        success : function(data) {
            if (data["code"] > 0) {
                showMessage('success', data["message"],'ADMIN_MAIN/promotion/supergrouplist');
            }else if(data["code"] == -1){
                showMessage('error', '正在进行中的活动不可删除！');
            }else{
                showMessage('error', data['message']);
            }
        }
    })
}

//撤销折扣信息
function recall(id){
    $.ajax({
        type:"post",
        url : "ADMIN_MAIN/promotion/recallgroup",
        data : {
            "id" : id
        },
        dataType : "json",
        success : function(data) {
            if (data["code"] > 0) {
                showMessage('success', data["message"],'ADMIN_MAIN/promotion/supergrouplist');
            }else if(data["code"] == -1){
                showMessage('error', '正在进行中的活动不可删除！');
            }else{
                showMessage('error', data['message']);
            }
        }
    })
}
</script>
<!-- 模态框（Modal） -->
<div class="modal fade hide" id="discountInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">限时折扣详情</h4>
            </div>
            <div class="modal-body">
            	<div class="modal-infp-style">
            		<table>
            			<tr>
            				<td style="width:60px;">活动名称</td>
            				<td colspan='3' id="discount_name"></td>
            			</tr>
            			<tr>
            				<td>有效期</td>
            				<td colspan='3' id="time"></td>
            			</tr>
            			<tr>
            				<td>团购参数</td>
            				<td colspan='3' id="parms"></td>
            			</tr>

						<tr>
							<td>参团人数</td>
							<td colspan='3' id="people"></td>
						</tr>

            		</table>
            		
            	</div>
            </div>
            <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">关闭</button></div>
        </div>
    </div>
</div>
{/block}